body{
font-size: 14px;
line-height: 24px;
font-weight: bold;
color: #000000;
font-family: PT Sans Narrow, Arial, sans-serif;
min-width: 1122px;
 min-height: 1750px;
 margin: 0;
 padding: 0;
 background: grey;
}
h1{
font-size: 30px;
line-height: 42px;
}
h2{
font-size: 30px;
line-height: 42px;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.shop-header{
  margin-bottom: 24px;
}
.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.header-logo{
  width: 140px;
  float:left;
  margin-right: 20px;
}
.main-navigation{
  width: 620px;
  float: left;
  margin-right: 20px;
}
.user-block{
  width: 140px;
  float: right;
}
.breadcrumbs{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px:
}
.content-left{
  width: 220px;
  float:left;
}
.content-right{
  width: 700px;
  float:right;
  font-size: 0px;
}
.main-footer{
  margin-top: 36px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer-contacts{
  width: 320px;
  float: left;
  margin-right: 60px;
}
.footer-social{
  width: 180px;
  float: left;
}
.footer-copyright{
  width: 180px;
  float: right;;
}
.product-header{
  margin-bottom: 24px;
}
.gallery{
  width: 460px;
  float:left;
  margin-right: 20px;
}
.product-description{
  float:left;
  width: 460px;
  margin-bottom: 36px;
  margin-left: 60px;
}
.price{
  float:left;
  width: 460px;
 margin-bottom: 64px;
 margin-left: 60px;
}
.composition{
  float:left;
  width: 460px;
  margin-left: 60px;
}
.gallery-big{
  margin-bottom: 21px;
}
.gallery-smal{
  padding-bottom: 15px;
}
.foto{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  float:left;
  margin-right: 10px;
}
.content-right-item{
  width: 460px;
  float:right;
}
.product-item{
  display: inline-block;
  width: 220px;
  min-height: 290px;
  vertical-align: top;
  margin-right: 20px;
  font-size: 16px;
}
.product-item:nth-child(2n+3) {
  margin-right: 0;
}
.pagination{
  display: inline-block;
  width: 44px;
  min-height: 44px;
  vertical-align: top;
  margin-right: 7px;
  font-size: 16px;
}
.price1{
  display: inline-block;
  width: 109px;
}
